NODE_ENV=production
SOCKET_PORT=3001
JWT_SECRET=your_jwt_secret_here

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

ALLOWED_ORIGINS=http://localhost:3000,https://chamalcom.ma
SOCKET_API_KEY=your_internal_api_key_for_broadcast_endpoint
